body{
  text-align: center;
  margin-top: 64px;
  font-family: 'Inter';
font-style: normal;
}

.profile__img{
width: 88px;
height: 88px;
border-radius: 275px;
}

#twitter{
color: #101828;
height: 30px;
font-weight: 700;
font-size: 20px;
line-height: 30px;
margin-bottom: 56px;
}

.link_section > button{
width: 1152px;
height: 76px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;
margin-bottom: 24px;
}

.link_section > button > a{
width: 101px;
height: 28px;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #101828;
text-decoration: none;
}
.socials{
  margin-top: 24px;
}
.slack{
  margin-right: 26px;
}

.footer{
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  /* margin: 20px 112px 52px 113px; */
}

hr{
  
  color: #EAECF0;
  opacity: 0.4;
  margin-top: 60px;
  width: 80%;

}
.zuri_logo{
  width: 185px;
  height: 32px;
  margin-right: 25%;
  margin-left: 113px;
}

.footer_name{
 font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #667085;
margin-right: 20%;
min-width: fit-content;
}
.ifg{
  width: 132.13px;
height: 32px;
}

@media (max-width: 800px) {

  .link_section > button{
    width: 90%;
  }

  .zuri_logo{
    margin-left: -200px;
  }
  .footer_name{
    margin-left: -200px;
  }
  .ifg{
    margin-left: -400px;
  }
  .footer {
    flex-direction: column;
    margin: 0 0 52px 0;
  }


}